@import url(http://127.0.0.1:5500/index.html);
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(183, 192, 190);
}
.sf {
    background-color: rgb(175, 192, 186);
}
.txt {
    color: rgb(36, 36, 33);
    text-align: center;
    /* h2 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}